.card__container{
  border: 1px solid black;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 15px;
}

.card__title{
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.card__body{
  background-color: #616161;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;

}

.card__body > img{
  height: 99%;
  width: 99%;
}

.card__stats{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.card__stats__type{
  color: black;
  font-weight: bold;
  background-color: coral;
  border-radius: 5px;
  padding: 5px;
  margin-right: 4px;
}
